<div class="container-fluid home-header">
	<div class="row profile_info">
		<div class="col-sm-12 text-center ">
			<h1>WAZDE</h1>
			<h2>A Steam Profile Generator</h2>
		</div>
	</div>
</div>

<div class="container">
	<div class="row jumbotron home-search">
		<div class="col-sm-12 text-center games_owned">
			<h3>Search for a Steam User</h3>
			<small>User must have profile set to public to view</small>
		</div>
		<div class="col-sm-12 text-center">	
			<form action="/search" method="get" role="search">
			  <div class="form-group">
			    <input type="text" name="id" class="form-control" placeholder="Search">
			  </div>
			  <button type="submit" class="btn btn-default">Submit</button>
			</form>
		</div>
	</div>
	<div class="row footer">
	</div>
</div>