@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Orbitron:400,900);
body{
	background-color: #DAD7DF;
}
.margin-fix{
	margin:0;
	padding:0;
}

/* remove spacing between middle columns */
.row.no-gutter [class*='col-']:not(:first-child):not(:last-child) {
  padding-right:0;
  padding-left:0;
}
/* remove right padding from first column */
.row.no-gutter [class*='col-']:first-child {
  padding-right:0;
}
/* remove left padding from first column */
.row.no-gutter [class*='col-']:last-child {
  padding-left:0;
}

/*Home Header*/ 
.home-header{
	background-image: image_url("background-3.jpg");
	background-size: cover;
	width: 100%;
	height: 25em;
	& h1{
		color: white;
		text-shadow: 0 .1em RGBA(26, 22, 37, .9);
		margin-top: 2em
	}
	& h2{
		color: RGBA(122, 101, 176, 1);
		text-shadow: 0 0.05em 10px RGBA(26, 22, 37, .9);
	}
}

.home-search{
	margin-top: 3em;
}

/* Nav/search bar */
.navbar {
  min-height: 50px;
  margin-bottom: 0px;
  border: 0px solid transparent;
  border-radius: 0;
  background-color: RGBA(26, 22, 37, .9);

}

.navbar-brand{
	font-family: 'Orbitron', sans-serif;
	font-weight: bold;
}
span{
	color: RGBA(122, 101, 176, 1);
}
/*profile*/
h1{
	font-size: 5em;	
	font-family: 'Orbitron', sans-serif;
	font-weight: bold;	
	color: rgb(57, 45, 89);
	text-shadow: 0 .1em #ffffff;
}
.profile{
	padding: 0;
}
.user_background{
	@extend .home-header;
}
.user_info{
	margin-top: -10em;
}
.user_image{
	border-radius: 50em;
}

.profile_info{
	margin-bottom: 3em;
}

/*games*/
.games_owned{
	margin: -1em 0 3em;
}
.game_entry{
	height: 8em;
	width: 184px;
	margin-bottom: 1em;
	& h4{
		font-size: 1em;
	}
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*Footer*/
.footer{
	margin-bottom: 3em;
}